<!-- <p>add-topic works!</p> -->  
    <!-- <div>
            <label for="question_title" class="block">Topic Title</label>
            <input type="text" name="topic_title" ngModel required class="w-full border rounded-sm p-1">

            <label for="topic_description" class="block mt-4">Topic Description</label>
            <textarea name="topic_description" rows="5" ngModel required
                class="w-full border rounded-sm p-1"></textarea>

            <span *ngIf="errorMsg" class="text-xs ">{{ errorMsg }}</span>

    </div> -->
    <!-- <html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="./add-topic.component.scss" />
    
	</head>
    <body> -->
       
        <!-- <h1 class="text 4-xl text-center font-medium text-gray-800">Add New Topic</h1> -->
        <!-- <div class="w-80 mx-auto mt-5 p-7">
            <p class="text-2xl text-center font-medium text-gray-800">
                Click here to add a new topic
            </p>
            <div class="flex justify-center mt-4">
                <button class="bg-green-500 text-white content-center bg-right rounded-md px-8 py-2 text-base font-medium hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-300"
                    id="open-btn">
                    + Add new topic
                </button>
            </div>
        <br> -->
            <!-- <button class="align-items-xl-center bg-gray-500 text-black-50 content-center">
                New Button
            </button> -->
        <!-- </div> -->
        <!-- <div
                class="fixed hidden inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full"
                id="add-topic">
        </div> -->
        <!--topic    content-->

<div class="border-2 border-black shadow-md">
    <form (ngSubmit)="onSubmit()" action="" class="w-1/4 mx-auto">
        <div>
            <label for="title" class="block">Title</label>
            <input type="text" [(ngModel)]="topicTitle" name="title" class="border p-1">
        </div>
        <div>
            <label for="content" class="block">Content</label>
            <textarea [(ngModel)]="topicContent" name="content" cols="30" rows="10" class="border p-1"></textarea>
        </div>
        <button type="submit" class="bg-blue-600 shadow-lg">Add Topic</button>
    </form>
</div>

<div
*ngIf="isTopicSubmitted"
class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white"
>
<div class="mt-3 text-center">
    <div
        class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-green-100"
    >
        <svg
            class="h-6 w-6 text-green-600"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"
            ></path>
        </svg>
    </div>
    <h3 class="text-lg leading-6 font-medium text-gray-900">Successful!</h3>
    <div class="mt-2 px-7 py-3">
        <p class="text-sm text-gray-500">
            Topic has been added succesfully.
        </p>
    </div>
</div>

</div>
<div [routerLink]="['/topic']" class="flex justify-center mt-4">
    <button class="bg-green-800 text-white content-center bg-right rounded-md px-8 py-2 text-base font-medium hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-300"
        id="open-btn">
        Open Topic List
    </button>
</div>
<!-- <script type="text/javascript">

        // alert("This alert box was called with the onload event");   

        let modal = document.getElementById("add-topic");
    
        let btn = document.getElementById("open-btn");
    
        let button = document.getElementById("ok-btn");
  
        btn.onclick = function() {
        modal.style.display = "block";
        }
       
        button.onclick = function() {
        modal.style.display = "none";
        }
        window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        }
</script>
</body>
</html> -->